.about-contain {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/background.png");
    background-position: center;
    background-size: cover;  
    background-repeat: no-repeat;   
    filter: brightness(95%);     
}
