.navbar-content {
    display: flex;
    justify-content: space-between;
    padding: 16px;   
    align-items: center; 
    background-color: #46338b;      
    box-shadow: 2px 2px 5px #a6cccc;
}

.nav-logo img {
    width: 80px;       
}

.nav-menu {
    display: flex;
    align-items: center;    
    gap: 200px;
    list-style: none;    
    font-size: 30px;
    font-weight: 800;
}

.nav-menu li {    
    cursor: pointer;    
}

.nav-menu li a {
    text-decoration: none;
    color: #a6cccc; 
    text-shadow: 1px 1px 1px #6b7132;
}

.nav-logout button {    
    width: 110px;
    height: 40px;
    outline: none;
    border: 1px solid #a6cccc;
    border-radius: 50px;
    color: #a6cccc;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    transition: 1s;
}

.nav-logout button:hover {
    background-color: #a6cccc;
    color: #043c6e;
}








