main {
    position: absolute;          
    width: 100vw;
    height: 100%;
    background-image: url("../../assets/background.png"); 
    background-position: center;      
    object-fit: cover;
    background-repeat: no-repeat;   
    filter: brightness(95%);
    z-index: -1;   
}

.detail-container {
    display: flex;
    align-items: center;
    justify-content: center;       
    margin: 1.5rem;    
    margin-top: 3rem;     
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;   
    text-align: center; 
    width: 85%;
    height: 535px;
    border-radius: 20px;
    background: linear-gradient(20deg, #60a85f, #6b7132);
    position: relative;    
    /* z-index: 1; */
}

@property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

.card-container::after,
.card-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    --angle: 0deg;
    background-image: conic-gradient(
        from var(--angle), #ebe480, #88e23b, #fff
    );
    animation: autoRotate 2s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 15px;
    box-sizing: unset;
}

.card-container::after {
    filter: blur(60px);
}
@keyframes autoRotate {
    to {
        --angle: 360deg;
    }
}

.content-image img {     
    margin-left: 30px;
    border-radius: 10px;
    width: 380px;  
}

.detail-info h1 {    
    color: #043c6e;   
    font-size: 60px;   
    margin-left: 55px;
    margin-right: 55px;
    padding-bottom: 80px;
    font-weight: 800;
    text-shadow: 2px 1px 1px #a6cccc;
}

.detail-text {       
    font-size: 25px;
    text-align: center;   
    color: #ebe480;
    text-shadow: 1px 1px 2px #043c6e;          
}

.detail-text p {
    line-height: 1.5;    
}

.detail-text strong {
    margin-right: 20px;
    color: #88e23b;
}

.back-btn {
    display: flex;    
    justify-content: center;   
    margin-top: 20px; 
}

.go-home-btn {  
    display: flex;
    align-items: center; 
    background-color: transparent;
    color: #a6cccc;       
    border: 1px solid #a6cccc;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 20px;
    transition: 1s;
}

.go-home-btn:hover {
    background-color: #60a85f; 
    color: #ebe480;
}

.go-home-btn img {
   margin-right: 10px;
   width: 20px;
   height: auto; 
}

.loader {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #a6cccc;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border-left: 4px solid #043c6e;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 




