.contain-pages ul {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.contain-pages ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;   
}

.contain-pages li {
    margin: 0;
}

.contain-pages button {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: transparent;
    width: 130px;
    height: 35px;
    color: #a6cccc;       
    border: 1px solid #a6cccc;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;   
    margin-top: 30px;
    transition: 0.3s;   
}

.contain-pages button:hover {
    color: #ebe480;
    text-shadow: 1px 1px 1px #043c6e;
    transform: scale(1.05);
}

.previous-btn button {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.previous-btn img {
    margin-right: 15px;
}

.next-btn button {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.next-btn img {
    margin-left: 15px;    
}



